@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Fredoka One', cursive;
  background: hsl(204, 80%, 80%);
}

.moles {
  display: inline-grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  grid-gap: 0 2vmin;
}

.moles > *:nth-of-type(4),
.moles > *:nth-of-type(5) {
  transform: translate(50%, -25%);
}

main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: linear-gradient(hsl(204, 80%, 80%) 0 44%, hsl(98, 40%, 50%) 44%);
}


.mute-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}
.mute-button:hover {
  background: red;
}

.mute-button:hover ~ .mallet,
.end-button:hover ~ .mallet {
  display: none;
}

.end-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.game-info {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
}